@import '../styleVarables/styleVarables.scss';



.ticket {
  margin-top: 15px;
  padding: 10px;
  min-height: 184px;
  background-color: $mainBackground;
  border-radius: 5px;
  box-shadow: $mainBoxShadow;

  .ticket__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;

    span {
      color: $accentColor;
      font-size: 20px;
      font-family: $mainFont;
      font-weight: 600;
    }
  }
  

}