$appBackground : #F3F7FA;
$accentColor : #2196F3;
$primeryText : #4A4A4A;
$secondaryText : #A0B0B9;
$checkboxHover : #F1FCFF;
$mainBackground : #FFFFFF;

$mainFont : 'Open Sans', sans-serif;

$mainBoxShadow : 0 0 5px 3px #f3f1f1;