@import '../../commonStyles/styleVarables/styleVarables.scss';

.successSearch{
  margin-top: 15px;
  text-align: left;
  font-family: $mainFont;
  height: 50px;
  font-weight: 400;
}

.hidden{
  display: none ;
}