.app {
  min-height: inherit;
  padding: 10px ;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  background-color: #F3F7FA;
}

.layoutFlex{
  justify-content: center;
  min-height: inherit;
}

.layoutWrapper{
  border-radius: 8;
  overflow: hidden;
  width: calc(80% - 8px);
  max-width: 754px;
  
  
}

.layoutHeader{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F7FA;
}

.layoutBody{
  flex-grow: 1;
  
}



@media (min-width : 765px) {
    .layoutHeader{
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F7FA;
  }

 }